// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{

  text-align: center;
  width: 100%;
}
.NavBar{

  text-align: center;
  width: 100%;
  height: 10%;
  border: 2px solid grey;
  background-color: grey;
}
#NavBarText{
   color: blue;
   font-size: 25px;
 }
 #NavBarTextLink{
  font-size: 25px;
  color: green;

}
#musicIndex{
  width: 40%;
  height: 75px;
  border: 2px solid black;
}
p {
  font-size: 15px;
}
.name{
  font-size: 30px;
  color: red;
}

.space{
  margin: 5px;
}
.artistTop{
  border: 1px solid green;
width: 100%;
  display: inline-block;
  background-color: green;
}

.bottomBtn{
border: 1px solid green;
width: 100%;
  display: inline-block;
  background-color: green;
}
.postmusic{
  width: 40%;
    margin: 15px;
    background-color: rgba(172, 181, 241, 0.32);
    display: block;
    border: 1px solid green;


}



