// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//vimeo-hp-videos.global.ssl.fastly.net/6/6-vp9.webm') no-repeat;
 background-color: black;
  background-size: cover;
  transition: 1s opacity;
}
#polina {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: center;
  font-size: 1.2rem;
  border-radius: 5px;

}

input{
      margin: 6px;
    height: 38px;
    color: black;
    width: 60%;
    border-radius: 18px;
        padding: 7px;
}

#green{
  color: green
}
.navbar-default {
    background-color: transparent;
    border-color: rgba(247, 247, 247, 0.25);
}

.profile-post-likes {
  color: white;
    display: inline-block;
    width: 375px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 5px;
    margin-left: 31px;
}

.profile-post-likes:hover{
  display: inline-block;

 background-color: rgba(33, 159, 24, 0.4);
}


.profile-title{
  color: white;
  margin: 15px;
  border: 2px solid green;
  width: 40%;
    background-color: rgba(0, 0, 0, 0.3);

}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
    transform: translate3d(0, 0, 0);
}



.profile-title-like{
color: white;
 margin: 10px;
  border: 2px solid green;
  width: 20%;
    background-color: rgba(0, 0, 0, 0.3);

}
.block{
  display: block;
}
